@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800&display=swap");
:root {
  --color-background-page: #ffffff;
  --color-titles-headers: #262626;
  --color-contactMeBtn-MainSlider: #696969;
  --color-cta-btn: #fd6500;
  --color-contactMe-Bar: #f9f6f1;
  --Font-Body: "Nunito Sans", sans-serif;
  --Font-Titles: "Playfair Display", serif; }

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #181818;
    --secondary-color: #f0f0f0; } }

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline; }

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* Optional */
  object-fit: cover;
  /* Optional */
  object-position: center center; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--Font-Titles); }

a {
  display: block; }

p a {
  display: inline; }

li {
  list-style-type: none; }

html {
  scroll-behavior: smooth; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

::selection {
  background-color: #696969; }

form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  display: block;
  color: inherit; }

table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0; }

svg {
  width: 100%;
  display: block;
  fill: currentColor; }

body {
  font-family: var(--Font-Body);
  min-height: 100vh;
  background-color: var(--color-background-page);
  line-height: 1.4em;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale; }

.zoomTransition {
  transition: transform 7s ease;
  transform: scale(1.2); }

#imgCarrousel {
  filter: brightness(0.8); }

.labelSlide {
  position: absolute;
  top: 150px;
  color: black;
  right: 300px;
  z-index: 2;
  color: white;
  /**
 * ----------------------------------------
 * animation tracking-in-expand-fwd-bottom
 * ----------------------------------------
 */ }
  .labelSlide p {
    width: max-content;
    font-size: 18px; }
  .labelSlide .tracking-in-expand-fwd-bottom {
    font-size: 32px;
    font-weight: 900;
    letter-spacing: 2.5px;
    color: white;
    -webkit-animation: tracking-in-expand-fwd-bottom 4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation: tracking-in-expand-fwd-bottom 4s cubic-bezier(0.455, 0.03, 0.515, 0.955); }

@-webkit-keyframes tracking-in-expand-fwd-bottom {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(500px);
    transform: translateZ(-700px) translateY(280px);
    opacity: 0; }
  40% {
    opacity: 0; }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1; } }

@keyframes tracking-in-expand-fwd-bottom {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(500px);
    transform: translateZ(-700px) translateY(280px);
    opacity: 0; }
  40% {
    opacity: 0; }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1; } }

#carouselExampleCaptions .carousel-control-prev-icon {
  background-color: black; }

#carouselExampleCaptions .carousel-control-next-icon {
  background-color: black; }

#navBarMenu {
  height: 300px;
  background-color: cornflowerblue; }
